body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav-title {
    color: white;
    padding: 1%;
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
    margin-right: 20px;
}
.nav {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background-color: #17a2b8;
    border-style: none;
    color: white;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    font-weight: bold;
    height: 30px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    font-weight: bold;
}